#main-navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    width: 100%;
    z-index: 600;
}
  
.sidebar-sticky {
  top: 0;
  height: auto;
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.list-group-custom-item {
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: #f8f9fa;
  padding: 0 12px;
  text-decoration: none;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
}