.login-page, .admin-signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;

    max-width: 700px;
    min-width: 300px;

    .error-message{
        text-align: center;
        margin-top: 12px;
        color: red;
    }
}

.logo {
    margin-bottom: 48px;

    img {
        width: 150px;
        height: auto;
    }
}

.form {

    .username-field, .password-field, .confirm-password-field {
        border-bottom: 1px solid rgba(0,0,0,0.8);
        border-radius: 8px;
        margin-top: 32px;
        padding-left: 8px;
        background: #FFF;
    
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px rgba(255, 255, 255,1);
        
        input {
            width: 90%;
            border: none;
        }
    
        input:focus {
            outline: none;
            box-shadow: none;
        }
    
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active  {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
        }
    }

    .isAdmin-field{
        margin-top: 16px;
        padding-left: 8px;
        display: flex;
        align-items: center;
        text-align: center;
        gap: 8px;
        
    }
    
    button {
        width: 100%;
        height: 42px;
    }

}

.admin-signup {
    margin: 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    span {
        font-size: 14px;
        color: #a8a8b3;
    }
}

@media (max-width: 600px){
    .logo {
        margin-top: 20%;
    }
}
